@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  background-color: var(--background-color-dark);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Global variables */

:root {
  --background-color: hsl(270, 7%, 33%);
  --background-color-dark: hsl(270, 7%, 20%);
  --text-color: hsl(0, 0%, 100%);

  --victory-color: hsl(163, 100%, 56%);
  --victory-color-bg: hsl(163, 25%, 31%);
  --victory-color-shadow: hsl(163, 25%, 45%);
  --defeat-color: hsl(16, 100%, 50%);
  --defeat-color-bg:hsl(3, 21%, 36%);
  --defeat-color-shadow: hsl(3, 21%, 50%);
}