@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  background-color: hsl(var(--background-color-dark));
  color: hsl(var(--text-color));
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Global variables */

:root {
  --primary-color: 	243, 52%, 68%;
  --primary-color-light: 272, 100%, 76%;
  --primary-color-dark: 	243, 52%, 55%;
  --background-color: 270, 7%, 33%;
  --background-color-med: 270, 7%, 25%;
  --background-color-transparent: 270, 7%, 33%, 30%;
  --background-color-dark: 270, 7%, 20%;
  --background-color-dark-transparent: 270, 7%, 20%;
  --text-color: 0, 0%, 100%;
  --neutral-text-lighter: 260, 3%, 90%;
  --neutral-text: 260, 3%, 82%;
  --neutral-text-darker: 260, 3%, 70%;

  --victory-color: 163, 100%, 56%;
  --victory-color-bg: 163, 25%, 31%;
  --victory-color-shadow: 163, 25%, 45%;
  --defeat-color: 352, 79%, 58%;
  --defeat-color-bg: 350, 33%, 34%;
  --defeat-color-shadow: 350, 33%, 48%;
  --draw-color: 0, 0%, 84%;
  --draw-color-bg: 0, 0%, 38%;
  --draw-color-shadow: 0, 0%, 56%;

  --font-size-small: 0.875rem; /* 14px */
  --font-size-base: 1rem;      /* 16px */
  --font-size-medium: 1.25rem; /* 20px */
  --font-size-large: 1.5rem;   /* 24px */
  --font-size-xlarge: 2rem;    /* 32px */
}