.screenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 200px;
  min-width: 350px;
}

.input {
  color: hsl(var(--text-color));
  min-width: 200px;
  width: 100%;
  padding: 20px 50px;
  font-size: 16px;
  border: none;
  background-color: hsl(var(--background-color));
}

.input::placeholder {
  color: hsl(var(--text-color));
}

.example {
  margin-top: 25px;
  text-align: center;
}