.container {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 3em;
  border: none;
  color: var(--neutral-text);
  padding: 3px;
  background-color: var(--background-color-med);
}

.btn:hover {
  color: var(--text-color);
  cursor: pointer;
}