header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--background-color));
}

header > * {
  flex: 1;
}

.middle {
  display: flex;
  justify-content: center;
}