.detailedInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

th {
  color: var(--neutral-text);
  font-weight: normal;
}

td {
  font-weight: 600;
}

.table {
  width: 90%;
}

.errorMsg {
  color: var(--neutral-text);
}