.detailedInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

th {
  color: var(--neutral-text);
  font-weight: normal;
}

td {
  font-weight: 600;
}

.table {
  width: 50%;
}

.errorMsg {
  color: var(--neutral-text);
}