.matchContainer {
  margin-bottom: .75em;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.matchContainer > * {
  display: flex;
  flex: 1;
  font-size: .8em;
}

.matchVictory {
  background-color: 	var(--victory-color-bg);
  box-shadow: 2px 2px var(--victory-color-shadow);
}

.matchDefeat {
  background-color: var(--defeat-color-bg);
  box-shadow: 2px 2px var(--defeat-color-shadow);
}

