.matchContainer {
  padding: 8px;
  margin-bottom: .75em;
  height: 90px;
  display: flex;
}

.matchContainer > * {
  flex: 1;
}

.matchVictory {
  background-color: 	var(--victory-color-bg);
  box-shadow: 2px 2px var(--victory-color-shadow);
}

.matchDefeat {
  background-color: var(--defeat-color-bg);
  box-shadow: 1px 1px var(--defeat-color-shadow);
}

