.resultInfo {
  display: flex;
  flex-direction: column;
  width: 108px;
}

.resultTag {
  font-weight: 600;
  font-size: .8em;
}

.victoryText {
  color: var(--victory-color);
}

.defeatText {
  color: var(--defeat-color);
}

.timeAgo {
  font-size: .8em;
  color: var(--neutral-text);
}