.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.KDA {
  font-weight: 700;
  font-size: 1.3em;
}

.deaths {
  color: hsl(var(--defeat-color));
}

.kda > span {
  font-size: .85em;
}

