.modesContainer {
  height: 50px;
  background-color: hsl(var(--background-color));
  margin-bottom: .75em;
  display: flex;
  align-items: center;
  padding: 5px;
}

.modes {
  display: flex;
  gap: 20px;
  width: 100%;
 
}

.modeBtn {
  min-width: 75px;
  border: none;
  color: hsl(var(--text-color));
  background: none;
}

.modeBtn:hover {
  cursor: pointer;
}