.container {
  display: flex;
  flex-direction: row;
  color: hsl(var(--neutral-text));
  margin: 10px 0;
}

.heading {
  font-size: var(--font-size-small);
  font-weight: 500;
  margin-left: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(var(--background-color-med));
  margin: 0 5px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

.variable {
  color: hsl(var(--text-color));
}

.dark {
  font-size: var(--font-size-small);
  color: hsl(var(--neutral-text-darker));
}