.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  margin: 0 0 1em 0;
  justify-content: space-evenly;
}

.header > button {
  width: 75px;
}

.month {
  width: 150px;
  text-align: center;
}

.heatmap {
  width: 100%;
  width: 220px;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 2px;
}

.day {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}

.btn {
  background: none;
  color: hsl(var(--neutral-text));
  border: none;
}

.btn:hover {
  background-color: hsl(var(--background-color-med));
  color: hsl(var(--text-color));
  cursor: pointer;
}