.mapItemContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.mapItemContainer > .mapName {
  width: 100px;
}

.winRate {
  min-width: 5em;
}

.green {
  color: hsl(var(--victory-color));
}

.red {
  color: hsl(var(--defeat-color));
}

.neutral {
  color: hsl(var(--neutral-text));
}
