.detailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50px;
}

li {
  font-size: .9em;
  display: flex;
  flex-direction: row;
}

.label {
  width: 25px;
  color: hsl(var(--neutral-text));
  margin-right: 10px;
  text-align: right;
}

.errorMsg {
  color: hsl(var(--neutral-text));
}