.matchContainer {
  margin-bottom: .75em;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.matchContainer > * {
  font-size: .8em;
}

.left, .right {
  flex: 35%;
}

.left {
  display: flex;
  flex-direction: row;
}

.middle {
  flex: 30%;
}

.matchVictory {
  background-color: hsl(var(--victory-color-bg));
  box-shadow: 2px 2px hsl(var(--victory-color-shadow));
}

.matchDefeat {
  background-color: hsl(var(--defeat-color-bg));
  box-shadow: 2px 2px hsl(var(--defeat-color-shadow));
}

.matchDraw {
  background-color: hsl(var(--draw-color-bg));
  box-shadow: 2px 2px hsl(var(--draw-color-shadow));
}

.right {
  background-color: hsl(var(--primary-color), 20%);
}

