.resultInfo {
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  height: 100%;
  margin: 6px 0 6px 10px;
}

.resultTag {
  font-weight: 600;
  font-size: .8em;
}

.victoryText {
  color: hsl(var(--victory-color));
}

.defeatText {
  color: hsl(var(--defeat-color));
}

.drawText {
  color: hsl(var(--draw-color));
}

.timeAgo {
  font-size: .8em;
  color: hsl(var(--neutral-text));
}