.container {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  height: 150px;
  gap: 40px;
}

.container > div {
}

.left {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;

}

.WL {
  margin-top: 5px;
  color: var(--neutral-text);
  font-size: .9em;
}