.overviewContainer {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-dark);
}

.overview {
  width: 1080px;
}

.cols {
  display: flex;
}

.leftCol > *, .rightCol > * {
  margin-bottom: 15px;
  background-color: var(--background-color);
}

.leftCol {
  flex-basis: 35%;
  margin-right: 15px;
}

.rightCol {
  flex-basis: 65%;
}