.container {
  display: flex;
  justify-content: center;
  height: 300px;
  background-color: var(--background-color);
  margin-bottom: 0.75em;
  background-repeat: no-repeat;
  background-size: cover;
}

.head {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  font-size: 3em;
  font-weight: 600;
}