.overviewContainer {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-dark);
}

.overview {
  width: 1080px;
}

.modesContainer {
  height: 50px;
  background-color: var(--background-color);
  margin-bottom: .75em;
  display: flex;
  align-items: center;
  padding: 5px;
}

.modes {
  display: flex;
  gap: 5px;
  width: 100%;
 
}

.modeBtn {
  flex: 1;
  border: none;
  color: var(--text-color);
}

.modeBtn:hover {
  cursor: pointer;
}

.cols {
  display: flex;
}

.leftCol > *, .rightCol > * {
  margin-bottom: .75em;
}

.leftCol {
  flex-basis: 35%;
  margin-right: .75em;
  background-color: var(--background-color-dark);
}

.rightCol {
  flex-basis: 65%;
}

