.overviewContainer {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-dark);
}

.overview {
  max-width: 1080px;
}

.topBar {
  display: flex;
  flex-direction: row;
  background-color: hsl(var(--background-color));
  margin-bottom: .75em;
}

.cols {
  display: flex;
  flex-direction: row;
}

.skeletons {
  display: flex;
  flex-direction: row;
}

.leftCol > *, .rightCol > * {
  margin-bottom: .75em;
}

.leftCol {
  flex-basis: 35%;
  margin-right: .75em;
  background-color: hsl(var(--background-color-dark));
}

.rightCol {
  flex-basis: 65%;
}

.matches {
  display: flex;
  flex-direction: column;
}

.btn {
  color: hsl(var(--text-color));
  background-color: hsl(var(--primary-color));
  border: none;
  padding: 1.15rem 0;
}

.btn:hover {
  cursor: pointer;
  background-color: hsla(var(--primary-color), 50%);
}

@media (max-width: 1080px) {
  .overview {
    width: 90vw;
  }
}

@media(max-width: 873px) {
  .cols {
    flex-direction: column;
  }

  .leftCol {
    margin-right: 0;
  }

  .topBar {
    flex-direction: column;
  }
}

